<mat-card class="mat-elevation-z8">
    <mat-card-title class="title">Novo produto: </mat-card-title>
    <form>
        <mat-form-field class="input-name" appearance="fill" >
            <mat-label>Nome</mat-label>
            <input matInput placeholder="" [(ngModel)]="product.name" name="name">
        </mat-form-field>

        <mat-form-field class="input-name" appearance="fill">
            <mat-label>Preço</mat-label>
            <input matInput placeholder="" [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>

    <button mat-raised-button class="salvar" (click)="createProduct()">
        Criar
    </button>

    <button mat-raised-button class="cancelar" (click)="cancel()">
        Cancelar
    </button>
</mat-card>